.big-icon-title
    .title-icon
    .title
        span
            font-size: 1.8em
            color: rgba(255,255,255,0.8)
            font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif