.board{
    display: grid;
    width: 100%;
    background-color: darkcyan;
    height: 45%;
    box-sizing: border-box;
    grid-gap: 10px;
    .left-arrow{
        grid-column: 1/2;
        background-color: aquamarine;
    }
    .content{
        grid-column: 2/15;
        grid-row: 1;
        background-color: aquamarine;
    }
    .right-arrow{
        grid-column: 15/16;
        background-color: aquamarine
    }
}