.skill-bar
    .label
        width: 4em
        display: inline-block
        text-align: center
        .label-img
            height: 2.5em
    .bar
        background: rgba(255,255,255,0.3)
        height: 2.5em
        width: 20em
        display: inline-block
        .bar-content
            height: 2.5em