.title-board{
    display: inline-flex;
    width: auto;
    .title-board-icon{
        font-size: 6em;
        text-align: center;
        line-height: 0.7em;
    }
    .title-board-content{
        text-align: center;
        font-size: 1.5em;
        p{
            margin-top: 0.5em;
        }
    }
}